.main{
    display: flex;
    flex-direction: row;
    padding-right: 5px;
    /* border: 1px solid; */
    margin-bottom: -10px;
    height: 25px;
    /* margin: auto; */
}

.main:hover{
    cursor: pointer;
    background-color: aliceblue;
    border-radius: 10px;
}

.icons{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    /* padding: auto; */
    margin-right: 50px;
    width: 5%;
}

.fa-star{
    margin-top: 2px;
}

.title{
 font-weight: 500;
 font-size: 15px;
 margin-right: 50px;
 width: 15%;
 /* padding-top: -30px */
}

@import "~@fortawesome/fontawesome-free/css/all.css";

.desc{
    width: 80%;
    white-space: nowrap;       /* Prevent text from wrapping to the next line */
    overflow: hidden;          /* Hide any overflow */
    text-overflow: ellipsis;   /* Display ellipsis (...) for overflow text */
    max-width: 680px;   
    margin-left: -40px;    
}

.second{
    display: flex;
    flex-direction: row;
    padding-right: 5px;
    width: 85%;
    justify-content: flex-start;
   
}

.third{
    display: flex;
    width: 10%;
    /* padding: auto; */
    padding-top: 10px;
    justify-content: space-between;
}

button{
    border-radius: 10px;
    padding: 5px;
    font-size: 10px;
}

i:hover{
    cursor: pointer;
}
