<nav class="navbar bg-frey navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav pr-20 me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <i class="fa-sharp fa-solid fa-bell"></i>
            <a class="nav-link active" style="color: blue;text-decoration-color: black;" aria-current="page" href="#">Primary</a>
          </li>
          <li class="nav-item">
            <i class="fa-solid fa-paperclip"></i>
            <a class="nav-link" href="#">Promotions</a>
          </li>
          <li class="nav-item">
            <i class="fa-regular fa-user"></i>
            <a class="nav-link" href="#">Social</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>