@import "~@fortawesome/fontawesome-free/css/all.css";

.container-fluid{
    background-color: white;

}

.active{
    color: blue;
}

li{
    margin-right: 100px;
    display: flex;
    flex-direction: row;
}

i{
    margin-top: 12px;
}

li:hover{
    background-color: rgb(225, 242, 242);
    border-radius: 10px;
}