@import "~@fortawesome/fontawesome-free/css/all.css";
  
  .main{
    display: flex;
    flex-direction: row;
    height: 8%;
    background-color: aliceblue;
  }
.first{
    padding: 10px;
    width: 20%;
    /* background-color: aqua; */
    font-size: 20px;
  }

  
  .second{
    width: 50%;
    /* background-color: black; */
    padding: 5px;
  }
  
  .third{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    justify-content: right;
    padding: 20px;
  }
  .third i{
    margin: 10px;
    margin-top: 3px;
    font-size: 20px;
  }
  
  .second-main{
    display: flex;
    flex-direction: row;
    height: 92%;
  }

  i{
    font-size: 20px;
  }

  i:hover{
    cursor: pointer;
  }

  .form-control{
    margin-top: 10px;
    padding-top: 10px;
    background-color: #d1efec;
    border-radius: 10px;
  }