<div class="main">

    <div class="first" style="margin-top: 6px;">
        <i class="fa fa-list" aria-hidden="true"></i>
        <img style="margin-left: 30px;"  src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r5.png" alt="">
    </div>
    <div class="second">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
             <i style="margin-top: 20px; " class="fa fa-search "></i>
          </form>
    </div>
    <div class="third">
         <i class="far fa-question"></i>
    <i class="fas fa-cog"></i>
    <i class="fas fa-th"></i> <!-- Use "far" for regular icons -->
    <i class="far fa-u"></i>
    </div>
</div>